.body{
	display: flex;
	flex-direction: column;
}

.heading{
	align-self: center;
}

.p{
	margin: 0px 0px 15px 20px;
	font-weight: bold;
	font-size: 20px;
	text-align: justify;
	text-indent: 30px;
	padding: 0px;
}

.p:last-of-type{
	margin: 0px 0px 0px 20px;
}

.p1{
	margin: 0px 0px 0px 20px;
	font-weight: bold;
	font-size: 20px;
	padding: 0px;
}